body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #272727;
    background-image: url('./castlevania\ lords\ of\ shadow\ wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; ;
}

.player {
    background: #fffdfd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.album-cover img {
    width: 100%;
    border-radius: 10px;
}

.track-info {
    margin: 15px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 10px;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
    
}

.time-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

#currentTime, #duration {
    font-size: 14px;
}

